<div>
  <h1 class='table-title'>Tenants</h1>
  <div class='table-actions'>
    <%= link_to 'New Tenant', new_tenant_path, class: 'btn btn-primary', role: 'button' %>
  </div>
</div>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Billing address</th>
      <th>Ssn</th>
      <th>Phone number</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tenants.each do |tenant| %>
      <tr>
        <td><%= link_to tenant.id, tenant %></td>
        <td><%= tenant.name %></td>
        <td><%= tenant.billing_address %></td>
        <td><%= tenant.ssn %></td>
        <td><%= tenant.phone_number %></td>
        <td><%= link_to 'Edit', edit_tenant_path(tenant) %></td>
        <td><%= link_to 'Destroy', tenant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
