<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tenant.name %>
</p>

<p>
  <strong>Billing address:</strong>
  <%= @tenant.billing_address %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @tenant.ssn %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @tenant.phone_number %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
