<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :number %>
    <%= f.text_field :number, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :building_name %>
    <%= f.text_field :building_name, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :condo_id %>
    <%= f.select :condo_id, Condo.all.collect {|c| [c.name, c.id]}, {}, {class: 'form-control'} %>
  </div>
  <div class="field form-group">
    <%= f.label :tenant_id %>
    <%= f.select :tenant_id, Tenant.all.collect {|c| [c.name, c.id]}, {include_blank: true}, {class: 'form-control'} %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
