<div>
  <h1 class='table-title'>Units</h1>
  <div class='table-actions'>
    <%= link_to 'New Unit', new_unit_path, class: 'btn btn-primary', role: 'button' %>
  </div>
</div>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>#</th>
      <th>Number</th>
      <th>Building name</th>
      <th>Condo</th>
      <th>Tenant</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= link_to unit.id, unit %></td>
        <td><%= unit.number %></td>
        <td><%= unit.building_name %></td>
        <td><%= unit.condo.name %></td>
        <td><%= unit.tenant.present? ? unit.tenant.name : '' %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
