<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @unit.number %>
</p>

<p>
  <strong>Building name:</strong>
  <%= @unit.building_name %>
</p>

<p>
  <strong>Condo:</strong>
  <%= @unit.condo.name %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @unit.tenant.present? ? @unit.tenant.name : '' %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
