<%= form_for(@condo) do |f| %>
  <% if @condo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@condo.errors.count, "error") %> prohibited this condo from being saved:</h2>

      <ul>
      <% @condo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%#= f.text_field :client_id %>
    <%= f.select :client_id, Client.all.collect {|c| [c.name, c.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
