<div>
  <h1 class='table-title'>Condos</h1>
  <div class='table-actions'>
    <%= link_to 'New Condo', new_condo_path, class: 'btn btn-primary', role: 'button' %>
  </div>
</div>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Address</th>
      <th>Client</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @condos.each do |condo| %>
      <tr>
        <td><%= link_to condo.id, condo %></td>
        <td><%= condo.name %></td>
        <td><%= condo.address %></td>
        <td><%= condo.client.name %></td>
        <td><%= link_to 'Edit', edit_condo_path(condo) %></td>
        <td><%= link_to 'Destroy', condo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
