<%= form_for(@debt) do |f| %>
  <% if @debt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debt.errors.count, "error") %> prohibited this debt from being saved:</h2>

      <ul>
      <% @debt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :original_amount %>
    <%= f.text_field :original_amount, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :due_date %>
    <%= f.date_select :due_date, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :debt_type %>
    <%= f.select :debt_type, Debt.debt_types.keys.map { |w| [w.humanize, w] }, {}, {class: 'form-control'} %>
  </div>
  <div class="field form-group">
    <%= f.label :unit_id %>
    <%= f.select :unit_id, Unit.all.collect {|u| ["#{u.condo.name} - #{u.number}", u.id]}, {}, {class: 'form-control'} %>
  </div>
  <div class="field form-group">
    <%= f.label :tenant_id %>
    <%= f.select :tenant_id, Tenant.all.collect {|t| [t.name, t.id]}, {}, {class: 'form-control'} %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
