<%= form_for(@debt) do |f| %>
  <% if @debt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debt.errors.count, "error") %> prohibited this debt from being saved:</h2>

      <ul>
      <% @debt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :original_amount %><br>
    <%= f.text_field :original_amount %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :debt_type %><br>
    <%#= f.number_field :debt_type %>
    <%= f.select :debt_type, Debt.debt_types.keys.map { |w| [w.humanize, w] } %>
  </div>
  <div class="field">
    <%= f.label :unit_id %><br>
    <%#= f.text_field :unit_id %>
    <%= f.select :unit_id, Unit.all.collect {|u| ["#{u.condo.name} - #{u.number}", u.id]} %>
  </div>
  <div class="field">
    <%= f.label :tenant_id %><br>
    <%#= f.text_field :tenant_id %>
    <%= f.select :tenant_id, Tenant.all.collect {|t| [t.name, t.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
