<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @debt.description %>
</p>

<p>
  <strong>Original amount:</strong>
  <%= @debt.original_amount %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @debt.due_date %>
</p>

<p>
  <strong>Debt type:</strong>
  <%= @debt.debt_type.humanize %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @debt.unit.condo.name %> - <%= @debt.unit.number %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @debt.tenant.name %>
</p>

<%= link_to 'Edit', edit_debt_path(@debt) %> |
<%= link_to 'Back', debts_path %>
