<h1>Menu</h1>
<ul>
  <li><%= link_to 'Clients', clients_path %></li>
  <li><%= link_to 'Condos', condos_path %></li>
  <li><%= link_to 'Units', units_path %></li>
  <li><%= link_to 'Tenants', tenants_path %></li>
  <li><%= link_to 'Debts', debts_path %></li>
  <li>Notices<%#= link_to 'Notices', notices_path %></li>
  <li>Import Debts</li>
</ul>
