
<div>
  <h1 class='table-title'>Clients</h1>
  <div class='table-actions'>
    <%= link_to 'New Client', new_client_path, class: 'btn btn-primary', role: 'button' %>
  </div>
</div>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Contact name</th>
      <th>Contact phone</th>
      <th>Address</th>
      <th>Default fine</th>
      <th>Default interest</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.id, client %></td>
        <td><%= client.name %></td>
        <td><%= client.contact_name %></td>
        <td><%= client.contact_phone %></td>
        <td><%= client.address %></td>
        <td><%= client.default_fine %></td>
        <td><%= client.default_interest %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
