<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">In debt for more than (days):</span>
      <input type="text" id="search_days" name="search_days" value="<%= @days %>" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">Amount greater than:</span>
      <input type="text" id="search_amount" name="search_amount" value="<%= @amount %>" class="form-control"/>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Refine search</button>
</form>

<%= form_tag do %>
<h1>Select debts below to emit notices</h1>
<table class="table">
  <thead>
    <tr>
      <th><input id="debt_check_all" type="checkbox" /> Select all</th>
      <th>Updated amount after fine and interest</th>
      <th>Days in debt</th>
    </tr>
  </thead>
  <tbody>
    <% @debts.each do |debt| %>
      <tr>
        <td><input name="debt_ids[]" type="checkbox" value="<%= debt.id %>"/></td>
        <td><%= Money.new(debt.updated_amount*100, "USD").format %></td>
        <td><%= debt.days_in_debt %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<input type="submit" value="Emit Notices" class="btn btn-primary"/>
<% end %>
